.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-logo {
    flex: 0 0 auto;
    padding-left: 20px;
}

.center-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right-logo {
    padding-right: 20px;
}

.bottom-line {
    width: 70%;
    height: 1px;
    margin: 0px auto;
    border-bottom: 1px solid #FFF;
}